.entry-card
  max-width: 500px
  width: 75%
  height: 300px
  margin: 10px auto

.card-content
  display: flex
  align-items: center
  flex-direction: column

.card-actions
  display: flex
  justify-content: center
  align-items: flex-end

textarea
  resize: none
  width: 75%
  height: 150px

.main-div
  height: 50vh
  display: flex
  justify-content: center
  align-items: center

#content-counters
    display: flex
    flex-direction: row
    justify-content: space-between


.spacer
  flex: 1 1 auto



.small-entry-card
  width: 65%
  height: 355px
  margin: 10px auto
  background-color:  purple


.main-div-small
  height: 80vh
  display: flex
  justify-content: center
  align-items: center
