.main-div
  height: 60vh
  display: flex
  justify-content: center
  align-items: flex-start
  margin: 2%

.entry-card
  flex: .5
  height: 400px

.card-content
  display: flex
  align-items: center
  flex-direction: column

.card-actions
  display: flex
  justify-content: center
  align-items: flex-end

textarea
  resize: none
  width: 75%
  height: 150px

#content-counters
    display: flex
    flex-direction: row
    justify-content: space-between
    width: 80%

.mat-divider
    border-top-color: white

.mood-slider
  width: 70%

.mood-1
  color: #e32424
  text-decoration: underline
.mood-2
  color: #ed800c
  text-decoration: underline
.mood-3
  color: #edbc0c
  text-decoration: underline
.mood-4
  color: #27d6b6
  text-decoration: underline
.mood-5
  color: #3ee30b
  text-decoration: underline

.small-entry-card
  width: 100%


#analytics
    background-color: green
    display: flex
    flex: .25
    margin: 2%
    height: 400px
    justify-content: flex-end
